protomak-engine/src/test/resources/test-xsds/bug_pmk_32/top-level-element-with-anonymous-complex-type-with-children.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://example.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Example">
		<xs:complexType>
			<xs:sequence>
					<xs:element name="child1" type="type1"/>
					<xs:element name="child2" type="type2"/>
				</xs:sequence>
			<xs:attribute name="id" type="xs:long" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="type1"></xs:complexType>
	<xs:complexType name="type2"></xs:complexType>
</xs:schema> 